

.box-absolute {
    width: 100px;
    height: 100px;
    background-color: rgb(131, 216, 244);
    position: absolute;
		top: 0.5px;
  }

#first {
    height: 20px;
    width: 166px;
    background-color: rgb(253, 248, 248);
    border : 1px solid #54aad2;
    margin: 10px;
} 

.second { 
    height: 50px; 
    width: 170px;
    background-color: rgb(253, 248, 248);
    box-shadow: 0px 3px 2px #74ABFF;
    margin: 10px;
        border-radius: 10px;
}
        

#fifth{
    height: 24px;
     width: 169px; 
     background-color:rgb(133, 214, 237);
     border-radius: 7px;
     margin: 10px;
     color: white;
     font-size:15px;
    }

#ttl{
    height: 50px; 
    width: 170px;
    background-color: rgb(253, 248, 248);
    box-shadow: 0px 3px 2px #74ABFF;
    margin: 10px;
    border-radius: 10px;
}